
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

#root {
  padding: 1em;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#main-image {
  text-align: center;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-weight: bold;
  line-height: 34px;
  height: 55px;
  margin-right: -1px;
  margin-top: -1px;
  padding-top: 9px;
  text-align: center;
  width: 55px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.active {
  font-size: 16px;
  font-weight: bolder;
}

#sort-icon {
  padding-left: 10px;
  float: right;
}

.highlighted {
  background-color: yellow;
}

button:hover {
  cursor: pointer;
}

.status-row {
   width: 135px;
}

.highlighted {
  background-color: yellow;
}
